<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}DJ Cart{% endblock %}</title>
  </head>
  <body>
    <header>
      <h1>DJCart</h1>
      <a href="{% url 'core:home' %}">home</a> /
      {% if user.is_authenticated %}
        <a href="{% url 'accounts:logout' %}">logout</a>
      {% else %}
        <a href="{% url 'accounts:login' %}">login</a> / <a href="{% url 'accounts:signup' %}">signup</a>
      {% endif %}
      <hr>
    </header>
    <main>
      {% block content %}
      {% endblock %}
    </main>
  </body>
</html>
